body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(97, 97, 97);
    color: white;
}
header {
    padding-left: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
nav {
    justify-self: end;
    padding-right: 50px;
    align-self: center;
    font-size: 120%;
}
button {
    cursor: pointer;
}
header {
    background-color: rgb(121, 121, 121);
}
nav ul {
    list-style-type: none;
    
}
a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    padding: 4px 10px;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.933), 2px 2px 4px rgb(215, 199, 199) ;
    border-radius: 5px;

}
a:focus {
    outline: none;
}

form {
    margin-left: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    
}
.help {
    text-align: center;
    margin-top: 20px;
    font-size: 20pt;
    
}
.help > h3 {
    margin: none;
    padding: none;
    display: inline;
}
.help p {
    margin-top:10px ;
    font-size: 10pt;
}
#add {
    padding: 15px 25px;
    justify-items: end;
    background-color: transparent;
    border: none;
    color: inherit;
    border-radius: 7px ;
    box-shadow: inset;
    margin-left: 10px;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.933), 2px 2px 4px rgb(215, 199, 199);
}
input {
    font-size: 16pt;
    width: 80vw;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.933) inset, 2px 2px 4px rgb(215, 199, 199) inset;
    padding-left: 10px;
}
#remove {
    background-color: transparent;
    float: right;
    padding: 4px 10px;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.933), 2px 2px 4px rgb(215, 199, 199) ;
    border: none;
    color: white;
}

.list {
    width: 70%;
}

.list > *:nth-of-type(even){
    background-color: rgba(34, 255, 0, 0.055);
}
.list > *:nth-of-type(odd){
    background-color: rgba(0, 21, 255, 0.071) ;
}
.list h3 {
    display: inline;
}
.list li {
    padding: 15px;
    margin: 20px;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.933), 2px 2px 4px rgb(215, 199, 199) ;
    background-color:transparent;
    
}
@media only screen and (max-width: 550px ) {
    #add {
        padding: 6px 13px;
    }
    input {
        font-size: 10pt;
    }
    .list li {
        padding: 10px;
    }


}
